<template>
  <div
    class="container"
    style="display: inline-flex; padding: 10px"
  >
    <div>
      <img
        style="height: 100px; width: 150px"
        src="../assets/bhatbhateni.jpg"
      />
    </div>
    <div style="padding-left: 10px; padding-right: 10px">
      <h5>Bhatbhateni</h5>
      <p>
        Bhat-Bhateni Super Market was established in 1984 by Mr. Min Bahadur
        Gurung, the company’s Owner and Chairman, as a ‘single shutter’ 120 sq.
        ft. cold store. Since then, Mr. Gurung, who gave up a lucrative career
        in banking to dedicate himself to the store
      </p>
      <!-- <div>profile name</div>
      <div>profile description</div> -->
    </div>
  </div>
</template>

<script>
// import { Axios } from 'axios';
// import { reactive } from 'vue';
// import { useRouter } from 'vue-router';

// import image from "../assets/pages/bhatbhateni.jpg"
export default {};
</script>

<style>
</style>