<template>
  <Nav />
  <div class="container-fluid">
    <div class="row">
      <Menu />
      <main class="cl-md-9 ms-sm-auto col-lg-10 px-md-4">
        <router-view />
      </main>
    </div>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue';
import Menu from '@/components/Menu.vue';
import { onMounted } from 'vue';
import axios from 'axios';

export default {
  name: 'Wrapper',

  components: {
    Nav,
    Menu,
  },

  setup() {
    onMounted(async () => {
      const { data } = await axios.get(
        'user'
        // {withCredentials:true}
        /**
         * this is already being use globally in main.ts
         */
      );

      console.log(data);
    });
    /**
     * we cannot call axios here because all the html has to render first
     * for this we use onMounted and the we call the api using axios
     */
  },
};
</script>
