<template>
  <header>
    <!-- Fixed navbar -->
    <nav
      class="
        navbar navbar-dark
        sticky-top
        flex-md-nowrap
        p-0
        navbar-dark
        fixed-top
        bg-dark
      "
    >
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"> Moonshot</a>

      <nav class="my-2 my-md-0 mr-md-3">
        <router-link
          to="/profile"
          class="navbar-brand col-md-3 col-lg-2 me-0 px-3"
          >User:{{ name }}</router-link
        >
        <router-link
          to="/login"
          class="navbar-brand col-md-3 col-lg-2 me-0 px-3"
          >sign out</router-link
        >
      </nav>
    </nav>
  </header>
</template>

<script lang="ts">
import { onMounted, ref } from 'vue';
import axios from 'axios';
import { useRouter } from 'vue-router';
export default {
  setup() {
    const name = ref('');

    const router = useRouter();

    onMounted(async () => {
      try {
        const { data } = await axios.get('user');
        // {withCredentials:true}
        /**
         * this is already being use globally in main.ts
         */
        console.log(data);
        name.value = data.first_name + ' ' + data.last_name;
      } catch (error) {
        await router.push('/register');
      }

      //set the value of variable
    });
    /**
     * we cannot call axios here because all the html has to render first
     * for this we use onMounted and the we call the api using axios
     */

    const logout = async () => {
      await axios.post('logout');
    };

    return {
      name,
      logout,
    };
  },
};
</script>

<style lang="scss" scoped></style>
