<template>
  <div class="pt-3 pb-2 mb-3 border-bottom">
    <router-link
      to="/roles/create"
      type="button"
      class="btn btn-sm btn-outline-secondary"
      >Add</router-link
    >
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="role in roles" :key="role.id">
          <td>{{ role.id }}</td>
          <td>{{ role.name }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <router-link
                :to="`/roles/${role.id}/edit`"
                type="button"
                class="btn btn-sm btn-outline-secondary"
                @click="edit"
              >
                Edit
              </router-link>
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary danger"
                @click="del(role.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { ref, onMounted } from 'vue';
import axios from 'axios';
import { Role } from '@/models/role';

export default {
  name: 'Roles',

  setup() {
    const roles = ref([]);

    onMounted(async () => {
      const { data } = await axios.get('roles');
      roles.value = data;
    });

    const del = async (id: number) => {
      if (confirm('Are you sure to delete?')) {
        await axios.delete(`roles/${id}`); //deletes user in the backend but,have to render in frontend as:
        // roles.value = roles.value.filter((r: Role) => r.id !== id);//this is throwing error need to check if api gets ready
        /**
         * this will render users except deleted  user of id
         * delete from frontend
         */
      }
    };

    return {
      roles,
      del,
    };
  },
};
</script>

<style lang="scss" scoped></style>
