<template>
  <div>Create User</div>
  <form @submit.prevent="submit">
    <div class="mb-3">
      <label>First Name</label>
      <input v-model="form.first_name" class="form-control" name="first_name" />
    </div>
    <div class="mb-3">
      <label>Last Name</label>
      <input v-model="form.last_name" class="form-control" name="last_name" />
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input v-model="form.email" class="form-control" name="email" />
    </div>
    <div class="mb-3">
      <label>Role</label>
      <input v-model="form.role_id" class="form-control" name="role_id" />
      <!-- Dropdown roles of user -->
      <option v-for="role of roles" :key="role.id" :value="role.id">
        {{ role.name }}
      </option>
    </div>
    <button class="btn btn-outline-secondary">Save</button>
  </form>
</template>

<script lang="ts">
import { onMounted, reactive, ref } from 'vue';
/**
 * we wrote bth reactive and ref
 * because user details inside related to user inside reactive below
 * ref related to user roles in the array
 * this are two different things
 */
import axios from 'axios';
import { useRouter } from 'vue-router';
export default {
  name: 'Create User',

  setup() {
    const form = reactive({
      first_name: '',
      last_name: '',
      email: '',
      // role_id: '',
    });

    const router = useRouter();

    // const roles = ref([]);

    onMounted(async () => {
      console.log('test', form);
      // const { data } = await axios.get('roles'); //first get the role from backend
      // roles.value = data;
    });

    const submit = async () => {
      console.log('form::::', form);

      const res = await axios.post('user/register', form);

      await router.push('/users');
    };

    return {
      form,
      submit,
    };
  },
};
</script>

<style lang="scss" scoped></style>
