<template>
  <div class="pt-3 pb-2 mb-3 border-bottom">
    <router-link
      to="/users/create"
      type="button"
      class="btn btn-sm btn-outline-secondary"
      >Add</router-link
    >
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" :key="user.id">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <!-- <td>{{ user.role.name }}</td> -->
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <router-link
                :to="`/users/${user.id}/edit`"
                type="button"
                class="btn btn-sm btn-outline-secondary"
                @click="edit"
              >
                Edit
              </router-link>
              <button
                type="button"
                class="btn btn-sm btn-outline-secondary danger"
                @click="del(user.id)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" @click="prev">Previous</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="#" @click="next">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script lang="ts">
import { onMounted, ref, watch } from 'vue';
import axios from 'axios';

import { User } from '@/models/user';
export default {
  name: 'Users',

  setup() {
    const page = ref(1);
    const users = ref([]);
    const lastPage = ref(0);

    const load = async () => {
      // const { data } = await axios.get(`users?page=${page.value}`);
      const { data } = await axios.get('user/all-users');

      users.value = data;
      lastPage.value = data.meta.last_page;
    };

    onMounted(load);
    /**
     * Pagination in vue
     */

    watch(page, load);

    const del = async (id: number) => {
      if (confirm('Are you sure to delete?')) {
        await axios.delete(`users/${id}`); //deletes user in the backend but,have to render in frontend as:

        users.value = users.value.filter((user: User) => user.id !== id);
        /**
         * this will render users except deleted  user of id
         * delete from frontend
         */
      }
    };

    const next = async () => {
      if (page.value < lastPage.value) {
        page.value++;
        // await load();
        /**
         * this multiple calling of load function can be replaced by watch function of vue
         * when we change page watcher will automatically loads our page,
         * trigger when we click prev and next button
         */
      }
    };
    const prev = async () => {
      if (page.value > 1) {
        page.value--;
        // await load();
        /**
         * this multiple calling of load function can be replaced by watch function of vue
         * when we change page watcher will automatically loads our page
         * trigger when we click prev and next button
         */
      }
    };

    return { users, next, prev, del };
  },
};
</script>
